DATABASE_URL=postgresql://postgres.qflhuoggadzwwmrwqbfj:yyyyyyxxxx@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres
DATABASE_URL2=postgresql://postgres.zhkzcmxpsdbspvpafusd:xxxxxxyyyyy@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres
